### If the preparad statement is only created 

### If the prepared statement is created and used except the login part 

 Packet received from the client with the type P with data    N INSERT INTO employee VALUES ($1, 'John', 35, 'Prepared_Statement')      
 Packet received from the client with the type B with data                   
 Packet received from the client with the type D with data    P  
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 1 with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type n with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type P with data    N INSERT INTO employee VALUES ($1, 'John', 35, 'Prepared_Statement')      
 Packet received from the client with the type B with data            
 Packet received from the client with the type D with data    P  
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 1 with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type n with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type P with data    N INSERT INTO employee VALUES ($1, 'John', 35, 'Prepared_Statement')      
 Packet received from the client with the type B with data               
                                                                            
 Packet received from the client with the type D with data    P  
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 1 with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type n with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type P with data    N INSERT INTO employee VALUES ($1, 'John', 35, 'Prepared_Statement')      
 Packet received from the client with the type B with data               
                                                                            
 Packet received from the client with the type D with data    P  
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 1 with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type n with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type P with data    QS_1 INSERT INTO employee VALUES ($1, 'John', 35, 'Prepared_Statement')     � 
 Packet received from the client with the type B with data     S_1          
 Packet received from the client with the type D with data    P  
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 1 with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type n with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1             
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            I 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            { 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            V 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            | 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          
Packet received from the client with the type E with data              . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            D 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            l 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1            � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1             � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          !   
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          "  E 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          #  x 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          $  � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          %  � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          &   
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          '  9 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          (  Y 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          )  � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          *  � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          +  � 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          ,   
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          -  , 
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 
 Packet received from the client with the type B with data     S_1          .   
 Packet received from the client with the type E with data             . 
 Packet received from the client with the type S with data     
Packet received from the server with the type 2 with data     
Packet received from the server with the type C with data    INSERT 0 1  
Packet received from the server with the type Z with data    I 


   QS_1 


P   N INSERT INTO employee VALUES ($1, 'John', 35, 'Prepared_Statement')     




1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1


2022-07-07 16:30:37.417 UTC [5927] LOG S-0x22a26e0: db1/user1@127.0.0.1:5433 Packet received from the server with the type Z with data->   IE 
2022-07-07 16:30:37.419 UTC [5927] LOG C-0x229ac40: db1/user1@127.0.0.1:33580 Packet received from the client with the type P with data->   [ PREPARE Aasd2 AS INSERT INTO employee VALUES ($1, 'John', $2, 'Prepared_Statement')    
2022-07-07 16:30:37.419 UTC [5927] LOG C-0x229ac40: db1/user1@127.0.0.1:33580 Need to prepare the statment
2022-07-07 16:30:37.419 UTC [5927] LOG C-0x229ac40: db1/user1@127.0.0.1:33580 Packet received from the client with the type B with data->   
                                                                                                                                                     
2022-07-07 16:30:37.419 UTC [5927] LOG C-0x229ac40: db1/user1@127.0.0.1:33580 Packet received from the client with the type D with data->   P  
2022-07-07 16:30:37.419 UTC [5927] LOG C-0x229ac40: db1/user1@127.0.0.1:33580 Packet received from the client with the type E with data->            � 
2022-07-07 16:30:37.419 UTC [5927] LOG C-0x229ac40: db1/user1@127.0.0.1:33580 Packet received from the client with the type S with data->    
2022-07-07 16:30:37.478 UTC [5927] LOG S-0x22a26e0: db1/user1@127.0.0.1:5433 Packet received from the server with the type 1 with data->    
2022-07-07 16:30:37.478 UTC [5927] LOG S-0x22a26e0: db1/user1@127.0.0.1:5433 Packet received from the server with the type 2 with data->    
2022-07-07 16:30:37.478 UTC [5927] LOG S-0x22a26e0: db1/user1@127.0.0.1:5433 Packet received from the server with the type n with data->    
2022-07-07 16:30:37.478 UTC [5927] LOG S-0x22a26e0: db1/user1@127.0.0.1:5433 Packet received from the server with the type C with data->   
                                                                                                                                           PREPARE  
2022-07-07 16:30:37.478 UTC [5927] LOG S-0x22a26e0: db1/user1@127.0.0.1:5433 Packet received from the server with the type Z with data->   IR 


-------
Created the Prepared Statements
Created Test Objects
Exception caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 87
Total success 9 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 0
Total success 30 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 99
Total success 45 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 26
Total success 65 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 55
Total success 84 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 94
Total success 103 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 13
Total success 124 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 45
Total success 143 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 73
Total success 162 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 61
Total success 182 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 2
Total success 205 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 72
Total success 223 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 20
Total success 245 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 49
Total success 266 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 89
Total success 287 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 62
Total success 309 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 22
Total success 331 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 84
Total success 352 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 33
Total success 375 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 82
Total success 397 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 46
Total success 421 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 32
Total success 445 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 81
Total success 468 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 16
Total success 493 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 10
Total success 517 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 78
Total success 540 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 48
Total success 565 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 11
Total success 591 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 59
Total success 616 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 53
Total success 642 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 77
Total success 668 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 58
Total success 695 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 39
Total success 722 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 60
Total success 749 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 15
Total success 777 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 27
Total success 805 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 23
Total success 834 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 14
Total success 864 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 30
Total success 894 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 44
Total success 924 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 92
Total success 954 out of 1000 trailsException caught org.postgresql.util.PSQLException: FATAL: server conn crashed? for the index ::: 67
Total success 985 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTotal success 1000 out of 1000 trailsTest done




2022-07-12 11:32:14.398 UTC [12117] LOG C-0x1d742b0: db1/user1@127.0.0.1:57610 Packet received from the client with the type B with data->    S_3        z  ? 
2022-07-12 11:32:14.398 UTC [12117] LOG S-0x1d7a6d0: db1/user1@127.0.0.1:5433 Matched!!!!
2022-07-12 11:32:14.399 UTC [12117] LOG Called from sbuf_continue
2022-07-12 11:32:14.399 UTC [12117] LOG S-0x1d7abd0: db1/user1@[::1]:5433 closing because: connect failed (age=0s)
2022-07-12 11:32:14.400 UTC [12117] LOG Called from sbuf_continue
2022-07-12 11:32:14.400 UTC [12117] LOG From client::1d747b0,to Server1d7a950
2022-07-12 11:32:14.400 UTC [12117] LOG C-0x1d747b0: db1/user1@127.0.0.1:57614 Packet received from the client with the type B with data->    S_2        
2022-07-12 11:32:14.400 UTC [12117] LOG C-0x1d747b0: db1/user1@127.0.0.1:57614 Need to prepare the statment
2022-07-12 11:32:14.400 UTC [12117] LOG From client::1d747b0,to Server1d7a950
2022-07-12 11:32:14.400 UTC [12117] LOG C-0x1d747b0: db1/user1@127.0.0.1:57614 Packet received from the client with the type B with data->    S_3        |  ? 
2022-07-12 11:32:14.400 UTC [12117] LOG C-0x1d747b0: db1/user1@127.0.0.1:57614 Need to prepare the statment
2022-07-12 11:32:14.412 UTC [12117] LOG From client::1d742b0,to Server1d7a6d0
2022-07-12 11:32:14.412 UTC [12117] LOG C-0x1d742b0: db1/user1@127.0.0.1:57610 Packet received from the client with the type P with data->    SELECT 1   ? 
2022-07-12 11:32:14.412 UTC [12117] LOG From client::1d742b0,to Server1d7a6d0
2022-07-12 11:32:14.412 UTC [12117] LOG C-0x1d742b0: db1/user1@127.0.0.1:57610 Packet received from the client with the type B with data->   
                                                                                        





Server22fb6f0
Server22fb970


------

2022-07-12 19:48:38.104 UTC [17018] LOG From client::805abb20,to Server884780
2022-07-12 19:48:38.104 UTC [17018] LOG C-0x7f0b805abb20: db1/user1@127.0.0.1:54964 Packet received from the client with the type B with data->    S_2        
2022-07-12 19:48:38.104 UTC [17018] LOG S-0x884780: db1/user1@127.0.0.1:5433 Matched!!!!
2022-07-12 19:48:38.104 UTC [17018] LOG From client::805abb20,to Server884780
2022-07-12 19:48:38.104 UTC [17018] LOG C-0x7f0b805abb20: db1/user1@127.0.0.1:54964 Packet received from the client with the type B with data->    S_3        8?  H 
2022-07-12 19:48:38.104 UTC [17018] LOG S-0x884780: db1/user1@127.0.0.1:5433 Matched!!!!
2022-07-12 19:48:38.105 UTC [17018] LOG Called from sbuf_continue
2022-07-12 19:48:38.105 UTC [17018] LOG S-0x884280: db1/user1@[::1]:5433 closing because: connect failed (age=0s)
2022-07-12 19:48:38.110 UTC [17018] LOG Called from sbuf_continue
2022-07-12 19:48:38.110 UTC [17018] LOG From client::8a4110,to Server884c80
2022-07-12 19:48:38.110 UTC [17018] LOG C-0x8a4110: db1/user1@127.0.0.1:54966 Packet received from the client with the type B with data->    S_2        
2022-07-12 19:48:38.110 UTC [17018] LOG C-0x8a4110: db1/user1@127.0.0.1:54966 Need to prepare the statment
2022-07-12 19:48:38.110 UTC [17018] LOG From client::8a4110,to Server884c80
2022-07-12 19:48:38.110 UTC [17018] LOG C-0x8a4110: db1/user1@127.0.0.1:54966 Packet received from the client with the type B with data->    S_3        8?  M 
2022-07-12 19:48:38.110 UTC [17018] LOG C-0x8a4110: db1/user1@127.0.0.1:54966 Need to prepare the statment
2022-07-12 19:48:38.125 UTC [17018] LOG From client::805abb20,to Server884780
2022-07-12 19:48:38.125 UTC [17018] LOG C-0x7f0b805abb20: db1/user1@127.0.0.1:54964 Packet received from the client with the type P with data->    SELECT 1     
2022-07-12 19:48:38.125 UTC [17018] LOG From client::805abb20,to Server884780
2022-07-12 19:48:38.125 UTC [17018] LOG C-0x7f0b805abb20: db1/user1@127.0.0.1:54964 Packet received from the client with the type B with data->   


------------
2022-07-12 19:57:04.614 UTC [30636] LOG C-0x1c09d60: db1/user1@127.0.0.1:55568 Packet received from the client with the type B with data->    S_2        
2022-07-12 19:57:04.614 UTC [30636] LOG C-0x1c09d60: db1/user1@127.0.0.1:55568 Need to prepare the statment
2022-07-12 19:57:04.614 UTC [30636] LOG From client::1c09d60,to Server1c0d980
2022-07-12 19:57:04.614 UTC [30636] LOG C-0x1c09d60: db1/user1@127.0.0.1:55568 Packet received from the client with the type B with data->    S_3        ??  ? 
2022-07-12 19:57:04.614 UTC [30636] LOG C-0x1c09d60: db1/user1@127.0.0.1:55568 Need to prepare the statment
2022-07-12 19:57:04.625 UTC [30636] LOG Failed from sbuf_actual_recv
2022-07-12 19:57:04.625 UTC [30636] LOG S-0x1c0d980: db1/user1@127.0.0.1:5433 closing because: server conn crashed? (age=0s)
2022-07-12 19:57:04.625 UTC [30636] LOG C-0x1c09d60: db1/user1@127.0.0.1:55568 closing because: server conn crashed? (age=48s)
2022-07-12 19:57:04.625 UTC [30636] WARNING C-0x1c09d60: db1/user1@127.0.0.1:55568 pooler error: server conn crashed?


                                                                                                                                                          
                                                                                                                                                           
2022-07-12 19:48:38.128 UTC [17018] LOG From client::805abb20,to Server884780
2022-07-12 19:48:38.128 UTC [17018] LOG C-0x7f0b805abb20: db1/user1@127.0.0.1:54964 Packet received from the client with the type B with data->    S_3        _?  ? 
2022-07-12 19:48:38.128 UTC [17018] LOG S-0x884780: db1/user1@127.0.0.1:5433 Matched!!!!
2022-07-12 19:48:38.131 UTC [17018] LOG Failed from sbuf_actual_recv
2022-07-12 19:48:38.131 UTC [17018] LOG S-0x884c80: db1/user1@127.0.0.1:5433 closing because: server conn crashed? (age=3s)
2022-07-12 19:48:38.131 UTC [17018] LOG C-0x8a4110: db1/user1@127.0.0.1:54966 closing because: server conn crashed? (age=18s)
2022-07-12 19:48:38.131 UTC [17018] WARNING C-0x8a4110: db1/user1@127.0.0.1:54966 pooler error: server conn crashed?
2022-07-12 19:48:38.140 UTC [17018] LOG From client::805abb20,to Server884780
2022-07-12 19:48:38.140 UTC [17018] LOG C-0x7f0b805abb20: db1/user1@127.0.0.1:54964 Packet received from the client with the type P with data->    SELECT 1     
2022-07-12 19:48:38.140 UTC [17018] LOG From client::805abb20,to Server884780
--------------

2022-07-12 19:57:19.790 UTC [30636] LOG C-0x1c0bde0: db1/user1@127.0.0.1:55594 Packet received from the client with the type B with data->    S_1        
2022-07-12 19:57:19.790 UTC [30636] LOG S-0x1c0d700: db1/user1@127.0.0.1:5433 Matched!!!!
2022-07-12 19:57:19.791 UTC [30636] LOG Failed from sbuf_actual_recv
2022-07-12 19:57:19.791 UTC [30636] LOG S-0x1c0d980: db1/user1@127.0.0.1:5433 closing because: server conn crashed? (age=0s)
2022-07-12 19:57:19.791 UTC [30636] LOG C-0x1c172a0: db1/user1@127.0.0.1:55630 closing because: server conn crashed? (age=6
----------------------
2022-07-12 19:58:35.529 UTC [30636] LOG Packet received from the Server with the type Z with data->   T 
2022-07-12 19:58:35.529 UTC [30636] LOG Failed from sbuf_actual_recv
2022-07-12 19:58:35.529 UTC [30636] LOG S-0x1c0d980: db1/user1@127.0.0.1:5433 closing because: server conn crashed? (age=0s)
2022-07-12 19:58:35.529 UTC [30636] LOG C-0x1c2a470: db1/user1@127.0.0.1:55868 closing because: server conn crashed? (age=139s)
2022-07-12 19:58:35.529 UTC [30636] WARNING C-0x1c2a470: db1/user1@127.0.0.1:55868 pooler error: server conn crashed?
---------------------
2022-07-12 19:56:34.503 UTC [30636] LOG From client::1c292f0,to Server1c0d700
2022-07-12 19:56:34.503 UTC [30636] LOG C-0x1c292f0: db1/user1@127.0.0.1:55854 Packet received from the client with the type P with data->   J INSERT INTO test_table VALUES ($1, 'Prepared_Statement', 174 )     ? 
2022-07-12 19:56:34.503 UTC [30636] LOG From client::1c292f0,to Server1c0d700
2022-07-12 19:56:34.503 UTC [30636] LOG C-0x1c292f0: db1/user1@127.0.0.1:55854 Packet received from the client with the type B with data->             N?   
2022-07-12 19:56:34.506 UTC [30636] LOG Failed from sbuf_actual_recv
2022-07-12 19:56:34.506 UTC [30636] LOG S-0x1c0d980: db1/user1@127.0.0.1:5433 closing because: server conn crashed? (age=3s)
2022-07-12 19:56:34.506 UTC [30636] LOG C-0x1c29070: db1/user1@127.0.0.1:55852 closing because: server conn crashed? (age=18s)
2022-07-12 19:56:34.506 UTC [30636] WARNING C-0x1c29070: db1/user1@127.0.0.1:55852 pooler error: server conn crashed?
---------------------



--------
2022-07-12 19:56:32.863 UTC [30636] LOG C-0x1c06de0: db1/user1@127.0.0.1:55528 Packet received from the client with the type P with data->   KAJ3 INSERT INTO test_table VALUES ($1, 'Prepared_Statement', 8 )      
2022-07-12 19:56:32.863 UTC [30636] LOG From client::1c06de0,to Server1c0d700
2022-07-12 19:56:32.863 UTC [30636] LOG C-0x1c06de0: db1/user1@127.0.0.1:55528 Packet received from the client with the type B with data->    S_3         ?H  ? 
2022-07-12 19:56:32.863 UTC [30636] LOG S-0x1c0d700: db1/user1@127.0.0.1:5433 Matched!!!!
2022-07-12 19:56:32.895 UTC [30636] LOG Packet received from the Server with the type 1 with data->    
2022-07-12 19:56:32.895 UTC [30636] LOG Packet received from the Server with the type 2 with data->    
2022-07-12 19:56:32.895 UTC [30636] LOG Packet received from the Server with the type C with data->   
	BEGIN
2022-07-12 19:56:32.895 UTC [30636] LOG Packet received from the Server with the type 1 with data->   B 
2022-07-12 19:56:32.895 UTC [30636] LOG Packet received from the Server with the type 2 with data->   B 
2022-07-12 19:56:32.895 UTC [30636] LOG Packet received from the Server with the type n with data->   B 
2022-07-12 19:56:32.895 UTC [30636] LOG Packet received from the Server with the type C with data->   INSERT 0 1  
2022-07-12 19:56:32.895 UTC [30636] LOG Packet received from the Server with the type Z with data->   T 

========
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the with data->   S_1 COMMIT   J 
2022-07-13 09:08:22.595 UTC [16680] LOG From client::1fa91f0,to Server1f96700
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type P with data->   DG1 COMMIT   ? 
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type P with data->   DG1 COMMIT   ? 
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 End of function handle_client_work.....
2022-07-13 09:08:22.595 UTC [16680] LOG From client::1fa91f0,to Server1f96700
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type B with data->    S_1        
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Replacing the values at 6th and 7th::S;_ by D:G
2022-07-13 09:08:22.595 UTC [16680] LOG S-0x1f96700: db1/user1@127.0.0.1:5433 Matched!!!!
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type B with data->    DG1        
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 End of function handle_client_work.....
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type E with data->   	    ? 
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 End of function handle_client_work.....
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type S with data->    
2022-07-13 09:08:22.595 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 End of function handle_client_work.....
2022-07-13 09:08:22.600 UTC [16680] LOG Packet received from the Server with the type 1 with data->    
2022-07-13 09:08:22.600 UTC [16680] LOG Packet received from the Server with the type 2 with data->    
2022-07-13 09:08:22.600 UTC [16680] LOG Packet received from the Server with the type C with data->   
                                                                                                      COMMIT  
2022-07-13 09:08:22.600 UTC [16680] LOG Packet received from the Server with the type Z with data->   IO 

===========

2022-07-13 09:08:31.002 UTC [16680] LOG S-0x1f96980: db1/user1@127.0.0.1:5433 Packet received from the with data->   DG1 COMMIT                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
2022-07-13 09:08:31.002 UTC [16680] LOG S-0x1f96980: db1/user1@127.0.0.1:5433 Packet received from the with data->   DG1 COMMIT                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
2022-07-13 09:08:31.002 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type B with data->    DG1        
2022-07-13 09:08:31.002 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 End of function handle_client_work.....
2022-07-13 09:08:31.002 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type E with data->   	    ? 
2022-07-13 09:08:31.002 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 End of function handle_client_work.....
2022-07-13 09:08:31.002 UTC [16680] LOG C-0x1fa91f0: db1/user1@127.0.0.1:36268 Packet received from the client with the type S with data->    
2022-07-13 09:08:31.002
===========


